{% extends "feedback_form_template.html" %}

{%block title%}
<title>{{title}}</title>
{%endblock title%}

{% block breadcrum_bar%}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/GC1">General Chemistry 1</a></li>
<li class="breadcrumb-item"><a href="/GC1_m1">Module 1</a></li>
<li class="breadcrumb-item"><a href="/GC1_m1_q1">Question 1</a></li>
<li class="breadcrumb-item active" aria-current="page">Feedback</li>
{% endblock breadcrum_bar%}

{%block form%}

<form method="POST" action="/">
    {{ form.satisfaction.label }} {{ form.satisfaction(size=20) }}
    <input type="submit" value="Go">
</form>
{%endblock form%}
