{% extends "question_template.html" %}

{%block title%}
<title>{{title}}</title>
{%endblock title%}

{% block breadcrum_bar%}
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="/GC1">General Chemistry 1</a></li>
<li class="breadcrumb-item"><a href="/GC1_m1">Module 1</a></li>
<li class="breadcrumb-item active" aria-current="page">Question 1</li>
{% endblock breadcrum_bar%}

{%block question%}
<img src="/static/images/questions/GC1/M1/Q1.png" id="question_image">

<div class="text-center">
  <a href="/GC1_m1_a1" type="button" class="btn btn-primary btn-lg">Watch Explanation</a>
<div/>
{%endblock question%}
