<!DOCTYPE html>
<html lang="en" dir="ltr">

  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Peer in Gear</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/about">About Us</a>
            <a class="nav-item nav-link" href="#">Research</a>
            <a class="nav-item nav-link" href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <nav aria-label="breadcrumb" style="padding-top: 50px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>Home</title>
      <h1>Peer In Gear Resource Center<h1/>
      <hr style="border: 1px solid white"><hr/>

  </head>

  <body>
    <div id = "wrapper" style = "width: 100%; margin: 0">
        <div class="card text-white bg-dark mb-3 d-inline-block" style="width: 47%; float: left; margin-right: 1%; margin-left: 2%; margin-top: 2%">
          <img class="card-img-top" src="/static/images/genchem_tab_cropped.jpg" alt="Card image cap">
          <div class="card-header">General Chemistry 1</div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href={{ url_for('GC1') }} class="btn btn-primary btn-lg btn-block">Go to Gen Chem 1</a>
          </div>
        </div>
        <div class="card text-white bg-dark mb-3 d-inline-block" style="width: 47%; float: right; margin-right: 2%; margin-left: 1%; margin-top: 2%">
          <img class="card-img-top" src="/static/images/orgo_tab_cropped.jpg" alt="Card image cap">
          <div class="card-header">Organic Chemistry 1</div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href={{ url_for('OC1') }} class="btn btn-primary btn-lg btn-block">Go to Orgo 1</a>
          </div>
      </div>
      </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
